.products-list {
  list-style: none;
}

@-webkit-keyframes translator {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes translator {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

button {
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.header-btn-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9;
}

.header-btn-menu .header-btn-burger {
  display: none;
}

.header-btn-menu.is-open .header-btn-burger {
  display: block;
}

.header-btn-menu.is-open .header-btn-close {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-btn-menu.is-open {
    position: fixed;
  }
}

@media screen and (min-width: 768px) {
  .header-btn-menu {
    display: none;
  }
}

.products-fon-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
}

.fon-icon {
  fill: #d41443;
}

body {
  font-family: 'Dm Sans', sans-serif;
  font-style: normal;
  background-color: #e5e5e5;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titan One', cursive;
}

.container {
  outline: 1px solid green;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #ffb8ca;
}

.header-container {
  position: relative;
  padding-top: 8px;
  padding-bottom: 158px;
}

.header-btn-menu {
  border: none;
  background-color: transparent;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-title {
  position: relative;
  z-index: 66;
  margin-top: 136px;
  margin-bottom: 20px;
  font-family: 'Titan One', cursive;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-title span {
  font-family: 'Titan One', cursive;
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.hero-btn-prod {
  margin-right: 8px;
  padding: 9px 15px;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #D41443;
}

.hero-btn-made {
  padding: 9px 15px;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #D41443;
  background-color: #ffffff;
}

.hero-img {
  position: absolute;
  top: -102px;
  left: 97px;
  z-index: 2;
  -webkit-animation-name: translator;
          animation-name: translator;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.hero-circle {
  position: absolute;
  top: -111px;
  left: 16px;
  z-index: 1;
  width: 345px;
  height: 345px;
  border-radius: 50%;
  background-color: #ffa5ba;
}

.hero-box {
  position: relative;
  z-index: 3;
}

.hero-test {
  position: relative;
  width: 100%;
}

.header-menu.is-open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #D41443;
}

@media screen and (min-width: 768px) {
  .header-menu.is-open {
    display: none;
  }
}

.products {
  padding-top: 80px;
  padding-bottom: 40px;
}

.products-text {
  margin-bottom: 15px;
  font-family: 'Titan One', cursive;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.products-title {
  margin-bottom: 148px;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #D41443;
}

.products-item + .products-item {
  margin-top: 140px;
}

.products-box {
  position: relative;
}

.products-fon {
  padding-top: 160px;
  padding-bottom: 40px;
  width: 100%;
  background-color: #ffb8ca;
  border-radius: 24px;
}

.products-fon.second {
  background-color: #f0d1a5;
}

.products-fon.third {
  background-color: #c2e297;
}

.products-fon-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.products-fon-text {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #ffffff;
}

.products-fon-title::after {
  content: '';
  display: block;
  margin: 32px 0;
  height: 6px;
  background-image: url(../../images/Group4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/*# sourceMappingURL=main.css.map */