.header {
  background-color: #ffb8ca;
  &-container {
    position: relative;

    padding-top: 8px;
    padding-bottom: 158px;
  }
}
.hero {
  &-wrap {
    position: relative;
  }
  &-inner {
    position: relative;
    z-index: 3;
  }
  
  &-title {
    position: relative;
    z-index: 6;
    margin-top: 136px;
    margin-bottom: 20px;
    font-family: 'Titan One', cursive;
    @include fonts(null, 26px, 1.15, 0.04em);
    text-transform: uppercase;

    color: #ffffff;
  }
  &-title span {
    font-family: 'Titan One', cursive;
    @include fonts(null, 48px, 0.96, 0.04em);
    text-transform: uppercase;

    color: $accent-color;
  }
  &-btn-prod {
    margin-right: 8px;
    padding: 9px 15px;
    @include fonts(null, 8px, 1.25, 0.04em);
    color: $accent-white-color;
    background-color: $accent-color;
  }
  &-btn-made {
    padding: 9px 15px;
    @include fonts(null, 8px, 1.25, 0.04em);
    color: $accent-color;
    background-color: $accent-white-color;
  }
  &-img {
    position: absolute;
    top: -96px;
    left: 97px;
    z-index: 2;
    animation-name: translator;
    animation-duration: 500ms;
  }
  &-circle {
    position: absolute;
    top: -111px;
    left: 16px;
    z-index: 1;
    width: 345px;
    height: 345px;
    border-radius: 50%;
    background-color: #ffa5ba;
  }
  
}
