.products {
  padding-top: 80px;
  padding-bottom: 40px;
  &-text {
    margin-bottom: 15px;

    font-family: 'Titan One', cursive;
    @include fonts(null, 18px, 1.17, null);
    text-align: center;
    text-transform: uppercase;

    color: #ffa5ba;
  }
  &-title {
    margin-bottom: 148px;

    @include fonts(null, 34px, 1.15, null);
    text-align: center;
    text-transform: uppercase;

    color: $accent-color;
  }
  &-list {
    @extend %list;
  }
  &-item + &-item {
    margin-top: 140px;
  }
  &-box {
    position: relative;
  }
  &-fon {
    padding-top: 160px;
    padding-bottom: 40px;
    width: 100%;

    background-color: #ffb8ca;
    border-radius: 24px;
    &.second {
      background-color: #f0d1a5;
    }
    &.third {
      background-color: #c2e297;
    }
    &-title {
      margin-bottom: 32px;
      @include fonts(null, 20px, 1.15, null);
      text-align: center;
      text-transform: uppercase;

      color: $accent-white-color;
    }

    &-text {
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 32px;

      @include fonts(700, 14px, 1.52, null);
      text-align: center;

      color: #ffffff;
    }
  }
}
.products-fon-title::after {
  content: '';
  display: block;
  margin: 32px 0;
  height: 6px;
  background-image: url(../../images/Group4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
// .products-title::after {
//   content: '';
//   display: block;
//   height: 280px;
//   background-image: url(../../images/png-format/mobile/ice-cream@1x-mobile.png);
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: top 120px left 120px;
// }
// &-fon {
//   padding-top: 160px;
//   padding-bottom: 40px;
//   width: 100%;

//   background-color: #ffb8ca;
//   border-radius: 24px;
//   &.second {
//     background-color: #f0d1a5;
//   }
//   &.third {
//     background-color: #c2e297;
//   }
//   &-title {
//     margin-bottom: 32px;
//     @include fonts(null, 20px, 1.15, null);
//     text-align: center;
//     text-transform: uppercase;

//     color: $accent-white-color;
//   }
//   &-text {
//     padding-left: 40px;
//     padding-right: 40px;
//     margin-bottom: 32px;

//     @include fonts(700, 14px, 1.52, null);
//     text-align: center;

//     color: #ffffff;
//   }
//   &-list {
//     @extend %list;
//     display: flex;
//     justify-content: center;
//     margin-bottom: 32px;
//   }
//   &-item {
//     width: 6px;
//     height: 6px;
//     border-radius: 50%;
//     background-color: #ffffff;
//     & + & {
//       margin-left: 4px;
//     }
//   }
// }
// &-img {
//   position: absolute;
//   top: -140px;
//   left: 50%;
//   transform: translateX(-50%);
// }
