button {
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
.header-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  z-index: 9;
  border: none;
  background-color: transparent;
  & .header-btn-burger {
    display: none;
  }
  &.is-open .header-btn-burger {
    display: block;
  }
  &.is-open .header-btn-close {
    display: none;
  }
  // &.is-open {
  //   @include tablet-max {
  //     position: fixed;

  //   }
  // }
  @include desctop {
    display: none;
  }
}
.hero-btn-buy {
  width: 160px;
  height: 44px;
  @include fonts(700, 16px, 1.31, null);
  border-radius: 22px;

  background-color: #fff;
  color: $accent-color;
}

.hero-btn-icon {
  margin-left: 12px;
}
.products-fon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
}
.fon-icon {
  fill: #d41443;
}
