button {
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
.header-menu-btn {
  @media screen and (max-width: 767px) {
    position: absolute;
    
    right: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: 32px;
  }
  @media screen and (min-width: 1280px) {
display: none;
  }

  //   z-index: 9;
  // border: none;
  // background-color: transparent;
  //   & .header-btn-cross {
  //     display: none;
  //   }
  //   &.is-open .header-btn-cross {
  //     display: block;
  //   }
  //   &.is-open .header-btn-burger {
  //     display: none;
  //   }

  //   @include desctop {
  //     display: none;
  //   }
}
.header-btn-buy {
  width: 160px;
  height: 44px;
  @include fonts(700, 16px, 1.31, null);
  border-radius: 22px;

  background-color: #fff;
  color: $accent-color;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

// .hero-btn-icon {
//   margin-left: 12px;
// }
// .products-fon-btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-left: auto;
//   margin-right: auto;
//   width: 40px;
//   height: 40px;
//   text-align: center;
//   border-radius: 50%;
//   background-color: #ffffff;
// }
// .fon-icon {
//   fill: #d41443;
// }
